<h1>Notificações</h1>
<form name="form1" id="form1" method="post" action="/notifications">
  Título:
  <input type="text" name="title" id="title" /><br />
  Mensagem:
  <textarea name="message" id="message"></textarea><br />
  <input type="submit" value="Enviar" />
</form>